
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 0 7px 0 7px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

h4 {
    font-weight: 200;
}

h4 b {
    font-weight: 600;
}

a.button7 {
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: .8em 1em 0.9em;
    border-radius: 3px;
    background: #CC7D7D;
}

a.button7:hover {
    background: #9D4E4E;
}

a.button7:active {
    background: #7E2F2F;
}